[2019-08-14 11:02] annajbott opened #2 "Changing the length of the CB and UMI"
Hi,
I'm trying to simulate DropSeq reads. The paper for minnow says the user can specify the UMI and CB length but I can't seem to find an option for this.

Thanks,
Anna

[2019-08-14 15:09] hiraksarkar commented on #2
Thanks for trying out Minnow. Currently we are using 10x based reads therefore we fixed the CB and UMI length. I am adding an option back in the command line and for changing the length. Thanks a lot for pointing it out.

[2019-08-14 15:58] annajbott commented on #2
Hi,
Thanks for your reply! I am unable to install it using the git repository due to compiler issues. When are you likely to update the bioconda version?

Thanks a lot!
Anna

[2019-08-14 16:12] hiraksarkar commented on #2
Hi,

The current bioconductor version has some merge conflicts, (there are a ton of changes from the previous version), after pushing the current change, I would try to resolve some. In the mean time, please let me know about the compilation errors you are getting.

[2019-08-14 16:30] hiraksarkar commented on #2
Hi Anna,

I just added `--CBLength` and `--UMILength` options to the minnow. Please let me know if they behave as you expect. Also I am trying to push a release before bioconda. So that you can use the binary. But resolving the compilation would be great. I am sorry that you are having compilation problems.
--
Hirak

[2019-08-14 18:57] annajbott commented on #2
Hi,
So for cmake .. I get:
[code]
And then for make I get:
[code]

I got these error messages running on both mac and linux.

Cheers,
Anna

[2019-08-15 12:03] hiraksarkar commented on #2
Hi Anna,

As it seems, the gcc version is old. Is it possible to update the gcc/g++ version. `-std=c++11` is
introduced only after version 4.7.

Hirak
PS: Did the binary work?

[2019-08-15 14:14] hiraksarkar commented on #2
Hi Anna,

I also resolved the merge conflicts and issued a pull request for the latest version in bioconda
https://github.com/bioconda/bioconda-recipes/pull/16913
Hopefully it will be available soon.

--
Hirak

[2019-08-15 14:20] annajbott commented on #2
Hi Hirak,
Updated my gcc version to 4.9 but still seem to be getting errors on my mac:
[code]

[code]
I am not able to change my compiler on my linux cluster, so I have tested only on my mac.
It could be super easy to fix, I'm am just terrible involving anything regarding C or compilers, sorry!

Thanks,
Anna

[2019-08-15 14:54] hiraksarkar commented on #2
Hi Anna,
A quick fix to the problem in mac is to remove  `--gstab` and `--pg` from line number 20 of
`CMakeLists.txt`,
So the line would become simply this.
`set(DEBUG_FLAGS "--g")`
After that please run, within build
[code]
Please let me know if that does it.

[2019-08-15 15:38] annajbott commented on #2
Brilliant yeah that's worked, thanks! I'll try out the software now cheers.

Anna

[2019-08-15 15:49] hiraksarkar commented on #2
Hi Anna,

Meanwhile I am working on solving the issue with conda compilation. Please let me know if you find any problem/errors.

--
Hirak

[2019-08-16 13:03] hiraksarkar commented on #2
Hi Anna,

I was wondering if you are facing any more problems. As it's now compilable on mac pulling from github, I think I can iterate easily to make it work, in case you are having any problem running it.

Thanks,
Hirak

[2019-08-16 22:06] annajbott commented on #2
Hi Hirak,
Cannot update gcc on my cluster and keep getting sgementation faults on my mac running minnow simulate on splatter-mode. So I guess I have to wait until the conda version is released to be able to use my cluster.

Thanks,
Anna

[2019-08-17 02:37] hiraksarkar commented on #2
Hi Anna,

Is the mac version giving you seg faults on your machine, if you provide me with the command
that gives you seg fault, I can work on that to resolve.

Hirak

[2019-08-19 10:04] annajbott commented on #2
Hi,

Output from splatter mode on my mac:
[code]

Also the splatter matrix I am trying to pass has 1500 genes and 779 cells. So the log message of "1500 cells are present" makes me think maybe the matrix is being read the opposite way round.

I've also tried alevin mode:

[code]

Thanks,
Anna

[2019-08-19 14:01] NemanjaVucic90 opened #3 "Changing the length of transcript read"
Hello,
While following the typical example (minimal) to simulate scRNA-seq reads using alevin-mode I've encountered several obstacles:

[2019-08-19 14:07] NemanjaVucic90 opened #4 "Setting the number of reads and changing the length of transcript read"
Hello,
Following the typical example (minimal) to simulate scRNA-seq reads using alevin-mode, I've encountered two issues:
- the output files containing reads are pretty small (less than 200Kb) containing fewer than 1500 reads. Is there a way to set the value for the expected number of reads?
- the length of transcript read in the second fastq file is 100bp which is not compatible with 10x Chromiu

[2019-08-19 14:07] hiraksarkar commented on #3
Hi @NemanjaVucic90 ,

Thanks for trying out minnow. It would be great if you use the develop branch of minnow directly from github rather than conda. (in case you are not using it directly). The bioconda does not allow the prerelease packages any more, so I need to prepare a release package now. I will push it shortly.

Until then please let me know the problem you are facing.

[2019-08-19 14:08] #3 closed

[2019-08-19 14:09] hiraksarkar commented on #3
Hi @NemanjaVucic90 ,

Please feel free to reopen with whatever problem you are facing.

[2019-08-19 14:12] hiraksarkar commented on #4
Hi @NemanjaVucic90 ,

Can you please share the command you have used.

[2019-08-19 14:15] NemanjaVucic90 commented on #4
`minnow simulate --alevin-mode --binary --g2t Homo_sapiens.GRCh38.97.tx2gene.tsv -m /minnow_files/pbmc1k_alevin/alevin -r Homo_sapiens.GRCh38.97.cdna.all.fa.gz --PCR 8 -e 0.001 -p 16 -o test_dir --useWhiteList`

[2019-08-19 14:17] hiraksarkar commented on #2
Hi Anna,

For the splatter-mode we follow the splatter way of representing the matrix, which means it is gene to cell rather than cell to gene which is alevin way of specifying the matrix. I should come up with a better convention.

The alevin mode works when we run alevin on the raw read dataset first and then run minnow.
If possible can you please share the splatter matrix you are getting error

[2019-08-19 14:21] hiraksarkar commented on #4
Hi @NemanjaVucic90 ,

Thanks for sharing the command, the PCR cycle decides the total size of the PCR tree and thereby increases the number of reads at the leaves of the tree. We sample the PCR tree in order to create the reads. Nevertheless the PCR cycles of 8 should be more than enough. The next thing that comes to my mind is the molecule content in the matrix to begin with. So it would be great

[2019-08-19 14:31] NemanjaVucic90 commented on #4
Here's the content of the alevin output directory.

[pbmc1k_alevin_out.zip](https://github.com/COMBINE-lab/minnow/files/3516333/pbmc1k_alevin_out.zip)

[2019-08-19 19:16] hiraksarkar commented on #2
Hi Anna,

I just pushed code to catch the splatter gene-to-cell switch. About how we should run minnow with splatter matrix. I should have done a better job explaining it in tutorial, but here is the basic idea, if we don't run alevin, then we depend on the `weibull` distribution to distribute the gene count to candidate isoform counts and as the splatter gene names are sort of not real so we assi

[2019-08-19 21:56] hiraksarkar commented on #4
Hi @NemanjaVucic90 ,

I am rerunning with the same file and getting far more number of reads. I think there is probably
a mismatch between the reference sequences names you are using and the reference names that are used. Can you please try the reference files I shared on zenodo and test. In the mean time if you give me the web links of the files then I can try to reproduce the problem.

Just to r

[2019-08-20 09:35] NemanjaVucic90 commented on #4
Hi @hiraksarkar,
Thank you for investing your time into this, really appreciate that. I've used Ensembl GRCh38 release 97 cDNA reference and GTF annotation file to generate tx2gene and run Minnow. Using these files I've also tried to create GFA file with TwoPaCo as you explained, but the de-Bruijn graph output did not seem to be correctly made. Maybe these two issues are related and due to gene an

[2019-08-20 11:23] annajbott commented on #2
Hi Hirak,
Brilliant cheers I've got simulated reads! I had to use a linux virtual machine to get it to work. My mac was still giving segmentation faults, not sure why.
Thanks a lot for going through this with me!

Best wishes,
Anna

[2019-08-20 11:42] hiraksarkar commented on #2
Hi Anna,

Sad to hear that it did not work for mac, I will try for mac today. Thanks for giving it a try. Your problems also help me to understand that I should re-factor it in a more user-friendly way and write a revised tutorial.

Thanks

[2019-08-21 09:08] NemanjaVucic90 commented on #4
Hi @hiraksarkar,
just to let you know that I've rerun Minnow with the Ensembl reference and a tx2gene file I've used before and included de-Bruijn graph file from zenodo with the original BFH from alevin run. The size of the fastq files seems to be ok now. Thank you for your time, I'll close this issue now.

[2019-08-21 09:08] #4 closed

[2019-08-21 13:51] annajbott commented on #2
Any update on bioconda release? My virtual machine cannot really handle it for any larger matrices. Thanks

[2019-08-21 14:11] annajbott commented on #2
Sorry another question. So I've ran splatter mode with
[code]
My splatter matrix has 400 cells, my fastq file has 1600 lines. Am I right in thinking that each cell only has 1 associated read? Is that what the uniq settings do? Sorry to ask but the help only says "matrix file is obtained from running splatter" for many of the splatter related options.
How do I make it so there are more transcripts

[2019-08-21 14:13] annajbott commented on #2
There is numMolFile but then I assume it makes it uniform across every cell?

[2019-08-27 09:52] annajbott commented on #2
Fantastic thank you! I will re-run it now

[2019-08-27 14:41] hiraksarkar commented on #2
I have also shared a sizable dataset in a google drive. Would you mind if I close this issue and open a new one with the conda version ?

Hirak

[2019-08-27 15:43] #2 closed

[2019-08-27 15:51] hiraksarkar opened #5 "New conda version"
We need to put a `release` version in conda, which aims to mitigate following problems,
1.  Overall better usability
2.  Interaction with splatter mode and alevin mode is not obvious
3. For unexpected scenarios, we need better error messages with are descriptive rather than having undefined behavior or seg-faults.
4. Debug messages should get removed.

Features to be added,
1. The support for vari

[2019-08-27 15:52] hiraksarkar commented on #5
@annajbott I would keep a track of this to push this version.

[2019-09-03 09:18] annajbott commented on #5
Cheers I'll keep an eye out

[2019-09-09 10:15] annajbott commented on #5
Any updates on this?

[2020-02-18 04:31] yueli8 opened #6 "demo data of minnow"
Hello,

Thank you so much for developing so nice software.

I followed `https://combine-lab.github.io/alevin-tutorial/2019/running-minnow/`.

But where is the data of `transcript.fasta`,`t2g.tsv`,`quants_mat.csv`,`quants_mat_rows.txt`,`quants_mat_cols.txt `?

Thanks in advance for great help!

Best,

Yue

[2020-02-18 05:31] hiraksarkar commented on #6
Dear Yue,

Thanks for trying it out. Apart from providing demo data, I would like to point you out that please use the https://github.com/COMBINE-lab/minnow/tree/refactor branch.

This new version comes with many features, such as creating your own index
(which contains the gtf files etc.).

You can find the most recent demo files [here](https://drive.google.com/drive/folders/1FpycJYus5N3iTbGVDXXx

[2020-02-18 22:23] yueli8 commented on #6
Dear, hiraksarkar,

Thank you so much for your quick response!

 This code works perfect!  Thank you again!

Another two questions:

1. This new version comes with many features, such as creating your own index
(which contains the gtf files etc.)

I can not find the `gtf` files int the new version.

2.I understand the meaning of the files `tx2gene.tsv` and `gencode.v32.transcripts.fa`.

 Have you

[2020-02-19 03:03] hiraksarkar commented on #6
Dear Yue,

I mistakenly wrote `gtf` I meant the `gfa` file. Here is a brief description of the files,

`dbg_gencode_v32.gfa` ~ This is the file with the de-Bruijn graph, that is built on the reference transcriptome fasta file.

`737K-august-2016.txt` ~ this is a file that contains cell barcodes taken from 10X website. These barcodes are already known. We use them so that our simulated dataset rese

[2020-02-19 03:09] yueli8 commented on #6
Dear hiraksarkar,

Thank you so much for your detail explanation!

Thank you again and `minnow` is really a great software!

Best,

Yue

[2020-02-19 03:27] hiraksarkar commented on #6
Dear Yue,

I am really happy that you liked it. I am always open to suggestions and improving the software. Please don't hesitate to ping me if you want a new functionality or you feel something is not working as it should.

Best,
PS : if you find this useful, I would really appreciate if you please star the repo, :)

[2020-02-19 03:44] yueli8 commented on #6
Dear  hiraksarkar,

Thank you for your message!

1. It is really useful, but how I can `star the repo`?

2. Where these `minnow_demo_gencode_32` data come from? I that possible I have to build by my own?

Thank you again!

Best,

Yue

[2020-02-19 03:56] hiraksarkar commented on #6
Dear Yue,

Minnow works on a count matrix. In splatter mode, the count matrix is present in `splatter_demo` folder. If you looked into the folder, you would see there are three files,
`quants_mat_cols.txt`  ~ the cell ids, (this file will tell minnow how many cells are to be generated)
`quants_mat.csv` ~ the actual cell to gene count matrix, (check the dimension of the matrix).
`quants_mat_rows.tx

[2020-02-19 04:38] yueli8 commented on #6
Dear, hiraksarkar,

Thank you so much for your detailed explanation!

I totally understood!

Thank you again!

Best,

Yue

[2020-02-25 03:35] yueli8 opened #7 "quants_mat.gz is not a directory"
Hello, hiraksarkar,

Thank you for developing so great software.

I tried to import `quants_mat.gz` to Cell V Gene dataframe, followed:

https://combine-lab.github.io/alevin-tutorial/2018/output-format/

[code]

I have something wrong in my python3 path?

[code]

Thank you in advance for your great help!

Best,

yue

[2020-02-25 03:38] k3yavi commented on #7
Hi @yueli711 ,

You have to provide the path to the output directory of alevin i.e. the path you gave with -o while running alevin.

[2020-02-25 04:09] yueli8 commented on #7
Hello, k3yavi,

Thank you so much for your quick response!

I followed:

https://gist.github.com/k3yavi/c501705ed2d29b12b0d10cf78b3ed001

`-o alevin_output`

[code]

Thank you for your great help!

Best,

Yue

[2020-02-25 04:12] k3yavi commented on #7
Not sure what's going wrong.
Can you share the step by step command and logs you get ?

[2020-02-25 05:31] yueli8 commented on #7
Hello k3yavi,

Thank you for your message!

Alevin runs perfect!

Please see attached  alevin_output.zip file.

[code]
But it said:

[code]

Thank you so much for your great  help!

Best,

Yue
[alevin_output.zip](https://github.com/COMBINE-lab/minnow/files/4248194/alevin_output.zip)

[2020-02-25 11:56] k3yavi commented on #7
Oh can you remove `<` and '>' from the path you are providing to vpolo

[2020-02-25 18:11] yueli8 commented on #7
Hello, k3yavi,

Thank you so much for your suggestion!

It works perfect!

[code]

In the manual:

https://combine-lab.github.io/alevin-tutorial/2018/output-format/

Alevin’s quants_mat.gz file can be easily imported to generate Cell v Gene dataframe using the following piece of python3 code:

Where is the Cell v Gene dataframe?

Thank you again!

Best,

Yue

[2020-02-25 18:15] k3yavi commented on #7
alevin_df is the dataframe you just imported.

[2020-02-25 18:15] k3yavi commented on #7
Closing the issue as it is getting imported now.

[2020-02-25 18:15] #7 closed, assigned to nobody

[2020-02-25 19:20] yueli8 commented on #7
Hello, k3yavi,

Thank you so much for your great help!

I just tried to change the `quants_mat.gz` file to human read.

I waited` ... `for so long time, then I typed `alevin_df = mmread("/home/li/salmon-latest_linux_x86_64/bin/alevin_output").toarray()` .

Is that possible I have to wait still `...`? I got confusing about the commands.

Thank you again!

Best,

Yue

[code]

[2020-02-25 19:31] k3yavi commented on #7
Unfortunately, I do not understand what you are trying to do ?
If it's possible to share what's the motivation, what's the input and what's the output you are looking for, may be I can help better .
Basically the quants_mat.gz is a binary file, you can't gzip open it that's why we have the vpolo parser. If you are familiar with the pandas dataframe, the alevin_df you get is actually a pandas dataf

[2020-02-25 20:18] yueli8 commented on #7
Hello, k3yavi,

So sorry to bother you again and again.

The output files in alevin_output/alevin has: `quants_mat_cols.txt`, `quants_mat_cols.txt` and `quants_mat.gz.`

I followed:
https://combine-lab.github.io/alevin-tutorial/2018/output-format/.

Alevin’s quants_mat.gz file can be easily imported to generate Cell v Gene dataframe using the following piece of python3 code:

If alevin_df is cell

[2020-02-25 20:26] k3yavi commented on #7
Try alevin_df.to_csv("counts.txt", sep="\t")

[2020-02-25 20:33] yueli8 commented on #7
Hello, k3yavi,

That works!

Thank you for your: not only the wisdom to developing so great software, but also the patience to help the stranger like me!

Thank  you again!

Best,

Yue

[2020-02-27 19:51] yueli8 opened #8 "NameError:"
Hello,

I followed: https://combine-lab.github.io/alevin-tutorial/2018/output-format/

`Pandas Compatibility`

I want the `csv` file of `alevin_df.`

Thank you in advance for great help!

Best,

Yue

[code]

[2020-02-29 15:18] hiraksarkar commented on #6
@yueli711 Do you need any more help regarding the issue as you reported? Please feel free to re-open the thread with the question.

[2020-02-29 15:18] #6 closed, assigned to nobody

[2020-02-29 15:20] hiraksarkar commented on #8
@yueli711 ,

I don't understand the problem very well. It seems the `mat_file` variable is not defined !

[2020-03-03 02:41] yueli8 commented on #8
Hello, hiraksarkar,

Thank you so much for your response!

1. not use gzip.

2. to_csv is a pandas dataframe functionality.

Following codes work!

Thank  you again！

Best,

Yue

[code]

[2020-03-03 02:42] #8 closed, assigned to nobody

[2020-05-28 16:51] Acribbs commented on #5
Hi @hiraksarkar.  Is there any update on when a new Conda release is planned?

[2020-05-28 16:54] hiraksarkar commented on #5
Yes, we actually added a couple of new features and change the version completely. I am expecting to push it around second week of June.

[2020-06-01 13:57] ghferrari opened #9 "fixfasta executable does not respond appropriately to `--help` or `-h`"
I've just attempted to build this on Centos 7.6 with GCC 7.3.0 and the resulting `fixfasta` executable does not recognise the `--help` or `-h` parameters.

[2020-06-01 14:40] hiraksarkar commented on #9
Hi @ghferrari ,
I hope you are building the `refactor` branch, which is currently a default, please use the `index` command to build the index.

[2020-06-01 14:41] ghferrari commented on #9
Sorry, I should have mentioned, this is with release beta_1.5.

[2020-06-01 14:43] hiraksarkar commented on #9
Hi, I would strongly suggest to not use the conda version as of now. They are not letting us use the pre-release, so we are going to go with the full release. Until then please use github repo to build it from source. Let me know if you need the binary.

[2020-06-01 14:45] ghferrari commented on #9
I did indeed build from source using the latest beta_1.5 release available from this page https://github.com/COMBINE-lab/minnow/releases

[2020-06-01 14:46] hiraksarkar commented on #9
Ahh, I see, I should have put a new release, my apologies, can you git pull and build, if it does not work, let me know, I will put the binary here, or issue a release.

[2020-06-01 14:49] hiraksarkar commented on #9
@ghferrari  Please try this one https://github.com/COMBINE-lab/minnow/releases/tag/beta_1.6

[2020-06-01 14:50] hiraksarkar commented on #9
After building the version you can build a de-bruijn graph with an oneliner
[code]
Here the command line options have the same meaning as described in original twopaco.

[2020-06-01 15:03] ghferrari commented on #9
Hi @hiraksarkar , I tried building beta_1.6 but no `fixfasta` executable was built - is it supposed to be there or not with this version?

Also, I don't have a `fasta.fa` file or any other files to test with. Are there some I can download?

[2020-06-01 15:09] hiraksarkar commented on #9
@ghferrari The point of fixfasta  was to fix a `fasta file` (that you want to sequence data from) and then produce a `de-bruijn` graph from the fasta file that you already have.

The new version does not need those intermediate steps as they would be called internally.

About having the proper fasta file, it is determined by the kind of organism you want your single cell experiment to base on. For

[2020-06-01 15:27] ghferrari commented on #9
Thank you, beta_1.6 builds successfully. I will have to ask a colleague to test it with real data.

Many thanks for your help!

[2020-06-01 15:27] hiraksarkar commented on #9
No worries, let me know if you need any help.

[2020-06-02 20:40] Acribbs opened #10 "std::invalid_argument: stoi: no conversion"
Hi,

I have compiled the latest code from GitHub and have the following errors, while running splatter-mode. Any help would be much appreciated thanks.
[code]

[2020-06-02 21:17] hiraksarkar commented on #10
Hi Adam,

Thanks for giving minnow a try. Few questions,
1. Are you running on the refactor (current default) branch?
2. This seems like an error with the files itself, Can you please share the files in the current input directory. (given with `-i` option in `.`)  (there should be at least 3 files that are required)
I would try to reproduce the error.
Thanks!

[2020-06-03 05:34] Acribbs commented on #10
Many thanks for your quick response.

1. Yes I have compiled from refactor branch.
2. I have added files here: https://drive.google.com/drive/folders/1IiOV3sm4P8uZD2-2ReRFegAYRZ79jppj?usp=sharing

[2020-06-03 11:14] hiraksarkar commented on #10
Dear @Acribbs ,
Thanks for linking the files, there are a few issues,
1. Since you are not running minnow in `alevin-mode` it is running by default in `splatter-mode` which means that it will assume the rows to be the set of genes (`quants_mat_rows.txt`) and the set of cells to be columns (`quants_mat_cols.txt`).
2. I saw that you used the gencode gene names, if you don't want minnow to assign you

[2020-06-03 11:27] Acribbs commented on #10
Many thanks for your detailed response and indeed you are correct regarding the matrix. I will get back to you once I have fixed these errors.

[2020-06-03 12:23] Acribbs commented on #10
Many thanks with the initial problem, that seems to be fixed. However, I have a separate issue that im not sure why its being invoked. --countProb file is missing, is there an example of what this file should be as I can't seem to see it documented. Again, thanks for your help.
[code]

[2020-06-03 12:29] hiraksarkar commented on #10
Hi,
So if the `--dbg` mode is used, it wants to replicate the multi-mapping histogram from a real sample, to mimic the behavior,
For human one such file is already provided, which is constructed on a PBMC sample and linked here `https://github.com/COMBINE-lab/minnow/blob/refactor/data/hg/countProb_pbmc_4k.txt`
So you can run the experiment with an added option
`--countProb countProb_pbmc_4k.txt`

[2020-06-03 12:33] Acribbs commented on #10
Great, this is exactly the same dataset that I want to use too.

However, when specifying this extra argument I get the following error:
[code]

[2020-06-03 12:33] Acribbs commented on #10
sorry didn't post full trace

[code]

[2020-06-03 12:37] Acribbs commented on #10
sorry scratch that last issue for the moment, I think there was a problem with downloading the data (Problems with working from home)

[2020-06-03 12:40] hiraksarkar commented on #10
Can you reupload the files, something in the files is not still right, because it's skipping all 8000 genes, one reason could be a difference in gene names, the gene names in the rows file does not seem to have `.`s, can you make sure that is the same used `../../data/human_t2g.tsv`. If not then it won't find the same gene names.

In any case if you can upload the files, I can take a much deeper l

[2020-06-03 12:43] Acribbs commented on #10
It seems to be running, I will let you know if I have any further issues. Thanks for your help.

[2020-06-03 12:44] Acribbs commented on #10
The countProb_pbmc_4k.txt was malformed (maybe patchy internet) but looks good now.

[2020-06-05 09:12] Acribbs commented on #10
Will close as the software now runs. I haven't tested output but if I come into another issue I will open a separate issue. Thanks very much for your help and congratulations on your very useful piece of software.

[2020-06-05 09:12] #10 closed, assigned to hiraksarkar

[2020-07-20 16:02] daskelly opened #11 "details of sequence uniqueness file?"
Hello, would it be possible to provide more details on how to construct the sequence uniqueness file? (i.e. the file passed to --uniq).

I found this file at your Zenodo link for the human genome, but I'd like to make my own for the mouse genome. And ideally it would be great to know how to construct it so I could apply this to other genomes.

Thanks!

[2020-07-20 16:11] hiraksarkar commented on #11
Hi @daskelly ,

Thanks for trying minnow, Firstly, please _don't_ use the conda version since it is outdated, use https://github.com/COMBINE-lab/minnow/tree/minnow-velocity this branch for latest result, we are going to merge this branch to master very soon.

The uniqueness file can be constructed by calculating the number of unique k-mers per gene (second column), and total number of k-mers in th

[2020-07-20 16:15] daskelly commented on #11
Thanks @hiraksarkar I will be sure to use the branch you mentioned.

Can you clarify two things about the uniqueness file:
1) When looking for k-mers what is the value of K to use?
2) How do you calculate this at the _gene_ level? Is this looking at the longest isoform?

[2020-07-20 16:25] hiraksarkar commented on #11
Hi @daskelly ,

I used 101 as the k-mer size, as the read length default is 100. I added the script here https://github.com/COMBINE-lab/minnow/blob/minnow-velocity/scripts/frac_unique.py, Let me know if you face any bugs. I am actively working on the branch so there might be issues, and I would love to fix them if there is something I missed.

[2020-07-20 18:59] daskelly commented on #11
Thank you @hiraksarkar, I am working through the script you provided but I think this should be enough to clarify my questions. Much appreciated!

[2020-07-20 18:59] #11 closed, assigned to nobody

[2020-07-20 19:00] hiraksarkar commented on #11
No worries @daskelly , feel free to reopen, get in touch if I can be of any help.

[2020-07-20 19:04] daskelly opened #12 "compilation error on minnow-velocity branch"
I am working on MacOS 10.15. My `cmake` version is 3.17.3 and `gcc --version` returns `Apple clang version 11.0.3`.

I **am** able to successfully compile the `refactor` branch of minnow using instructions provided for Manual Installation in the README. However, I am running into an error specifically when trying to compile the `minnow-velocity` branch. `cmake` works for a while and then outputs t

[2020-07-20 19:07] daskelly commented on #12
FWIW, when compiling the `minnow-velocity` branch, I followed the same instructions in the README except after cloning the repo I executed `git checkout minnow-velocity`.

[2020-07-20 19:10] hiraksarkar commented on #12
Hi @daskelly ,

It should be fine, but I am checking if there is anything changed in the tbb front. I generally check in on Linux.

[2020-07-20 19:50] hiraksarkar commented on #12
Hi @daskelly Can you please pull and try now, it's compiling correctly on my mac.

[2020-07-20 20:07] daskelly commented on #12
Hi @hiraksarkar it is working now, thank you for your efforts!

[2020-07-20 20:07] #12 closed, assigned to nobody

[2020-08-18 20:55] cohenp05 opened #13 "Applicability to 10X 5' Data?"
Hello!

Thank you all for developing a really exciting piece of software that will have real impact on the future development of scRNAseq analysis. I'm writing because I am interested in applying minnow to 10X 5' data, but in reading your publication I noticed that the MAX_FRAGLEN argument seems to be intended for 3' data. Is there an argument that can be applied to use minnow to simulate 5' data?

[2020-08-21 16:49] hiraksarkar commented on #13
Hi @cohenp05 ,
Thanks for reaching out. Apologies for late reply. Of course, I would love to include a full-length model for generating that kind of simulated reads. Unfortunately, I am not very familiar with the exact type of data you want to generate. Feel free to drop me an email at hiraksarkar.cs@gmail.com, and we could chat in detail, what you might exactly expect from the simulation.

Thanks

[2020-09-25 03:07] yhg926 opened #14 "what is -m option ?"
Hi,
I want to what the option "-m /example_data/splatter_data_100_Cells_50K_Genes_pbmc/" means? I cannot find the explanation on this option. And how can i generate myself  splatter_data_100_Cells_50K_Genes_pbmc folder?
Many thanks
[code]

[2020-09-25 03:57] yhg926 opened #15 "can not run minnow simulate"
No matter how i set the arguments,
minnow simulate just return me the help document, not run at all!.

Here is my command:
"src/minnow simulate --normal-mode --g2t /data/hgyi/work/RNAseq_quantTool/scsimulation/mouse_t2g.tsv -m ../data/hg/ --PCR 7 -r /data/hgyi/work/RNAseq_quantTool/scsimulation/mouse_transcriptome.fa -e 0.01 -p 25 -o ./outdir --useWeibull"

[2020-09-25 03:57] hiraksarkar commented on #14
Hi Huiguang,

The command option you are referring to is deprecated. Please use the following command to give splatter matrix, I will fix the read me to update the current commands.

[code]
You can generate the gfa file and modified fasta file by running the following command

[code]
Also don't use the conda version, as it is severely outdated, and use the `refactor` branch.

Thanks

[2020-09-25 03:59] hiraksarkar commented on #14
Referencing https://github.com/COMBINE-lab/minnow/issues/15 here, we don't support normal mode explicitly in the present version, and advice you to use splatter mode.

[2020-09-25 04:04] hiraksarkar commented on #14
Here is one example folder on how the data should be provided `https://github.com/COMBINE-lab/minnow/tree/minnow-velocity/data/test_data/splatter_data_two_cells`

[2020-09-25 04:19] yhg926 commented on #14
It runs! but how can i obtain this file: bfh_gencode_v32.txt ?
[code]

[2020-09-25 04:25] hiraksarkar commented on #14
It is generally obtained by running alevin, but you can use the statically stored file which is learned from pbmc data, in that case you need to run it like following

[code]
where `countProb_pbmc_4k.txt` can be obtained from `https://github.com/COMBINE-lab/minnow/blob/refactor/data/hg/countProb_pbmc_4k.txt`

[2020-09-25 04:28] hiraksarkar commented on #14
I must mention generally, splatter does not give the gene names, so if you want to give your gene names (`--custom` flag is used for that reason), you have to modify  `/data/hgyi/work/RNAseq_quantTool/scsimulation/splatter_out/quants_mat_rows.txt` to give genenames that tally with `quants_mat_rows.txt`

[2020-09-25 04:43] yhg926 commented on #14
It runs but aborted.
[code]

[2020-09-25 04:47] hiraksarkar commented on #14
The log says that the `Truncated the matrix to dimension 1000 x 0` which means all of the genes are dropped, it can be caused by many reasons, e.g if there is a name mismatch between your transcript to gene file and the gene names in `quants_mat_rows.txt` etc. If you can provide me with the input data, I can look into it tomorrow or during the weekend.

[2020-09-25 05:06] yhg926 commented on #14
I just modified the R code to generated splatter_out, change num_genes from 1000 to  125665(same number with the transcript numer in mouse_transcriptome.fa ) , but still aborted, the Truncated the matrix dimension now is 1000 x 47320. Here is my R code:
[code]
[code]

[2020-09-25 05:11] hiraksarkar commented on #14
I think there is a confusion here, the matrix that you should provide to minnow from splatter _should_ contain gene-to-cell count and *not* transcript-to-cell counts.

Can you create a relatively small matrix for 1000 cells and 1000 genes, and share the files? I can try debugging then, I think there is a problem with the convention here. Not sure what's the exact bug.

[2020-09-25 05:16] yhg926 commented on #14
Here are my input files:
[quants_mat_rows.txt](https://github.com/COMBINE-lab/minnow/files/5280713/quants_mat_rows.txt)
[quants_mat_cols.txt](https://github.com/COMBINE-lab/minnow/files/5280714/quants_mat_cols.txt)
[quants_mat.csv.zip](https://github.com/COMBINE-lab/minnow/files/5280717/quants_mat.csv.zip)

[2020-09-25 05:20] hiraksarkar commented on #14
As I mentioned to you https://github.com/COMBINE-lab/minnow/issues/14#issuecomment-698713331 and https://github.com/COMBINE-lab/minnow/issues/14#issuecomment-698717650, `quants_mat_rows.txt` contains no real gene name, you _have to_ provide your gene names that are real.
[code]

[2020-09-25 05:27] yhg926 commented on #14
I just did this:
[code]
so all gene name match the mouse_t2g.tsv:
and run minnow again, but still aborted with same information:
[code]

[2020-09-25 05:29] hiraksarkar commented on #14
Interesting, thanks for the log, I will try to reproduce this tomorrow.

[2020-09-25 05:30] hiraksarkar commented on #14
Can you attach your `mouse_t2g.tsv` file.

[2020-09-25 05:42] yhg926 commented on #14
OK, it actually downloaded from your zenodo link:
[mouse_t2g.tsv.zip](https://github.com/COMBINE-lab/minnow/files/5280818/mouse_t2g.tsv.zip)

[2020-09-26 17:05] hiraksarkar commented on #14
Hi @yhg926,

I tried to debug the problem, the problems seem to be the fact that the gene names are not unique, as many transcripts can map to the same genes, the t2g will have more lines than genes. So below are the steps that you might run to get a fully functional example.

### Getting the right branch of minnow
[code]

### Making consistent transcript to gene name and compatible De-Bruijn grap

[2020-09-27 08:37] yhg926 commented on #14
Thank you very much, i have already generated the simulated reads following your steps.
I am now wondering what kind of protocol the simulated reads use ?
especially, what is the cell barcodes, UMI and the biological sequences of the generated simulated fastq files?

here are head 20 lines of the R1 and R2 fastq file, what is the cell barcodes, UMI and the biological sequences ? :
[code]
[code]

[2020-09-27 14:35] yhg926 commented on #14
another question:
I noticed you are using this reference:  minnow_ind/ref_k101_fixed.fa, so what is its differences with the original reference gencode.vM25.transcripts.fa.gz ?, the  simulated reads were generated from  ref_k101_fixed.fa not gencode.vM25.transcripts.fa.gz , right ?

[2020-09-27 21:51] hiraksarkar commented on #14
Hi,

The left end `hg_100_S1_L001_R1_001.fastq` contains the cell barcode and the UMI (16 + 10 bp), and the right end `hg_100_S1_L001_R2_001.fastq` contains the sequences.

Regarding the second question ` ref_k101_fixed.fa` is the filtered version of `gencode.vM25.transcripts.fa.gz`, removing transcripts having a sequence length lesser than 101bp, (which is read length + 1).

[2020-09-28 16:31] yhg926 commented on #14
what do the last three number means in R2 fastq head line?
for example, in below fastq, the three number 1239:4147885:99998. It seems  1239 is offset from the transcript start, and 99998 is the read number? but i can not figure out what is the meaning of 4147885.

[code]

[2020-09-28 17:04] hiraksarkar commented on #14
Hi,

That's a great question, `4147885:99998` this is generally used for other debugging, and is not directly usable by end user.
`4147885` is the index of read in the order they are dumped by the thread (not necessarily in the same order they appear in the file, since it's a multi-threaded code). `99998` is the id number of read before doing PCR.

However, these two numbers are of no use for othe

[2020-09-28 17:05] #15 closed, assigned to nobody

[2020-09-29 04:20] yhg926 commented on #14
did minnow simulated 3' end sequencing? I noticed most of the simulated reads did not map to 3' end of the references.

[2020-09-29 04:34] hiraksarkar commented on #14
Yes, for details please check https://academic.oup.com/bioinformatics/article/35/14/i136/5529127.

As the query is solved, I would close this issue, feel free to open issue for other questions.

[2020-09-29 04:37] hiraksarkar commented on #14
Ok I think your last query seems like another question, so I am reopening.

[2020-09-29 04:40] hiraksarkar commented on #14
Can you please elaborate what you mean by not mapping to 3' end of the reference. These reads are sampled from end of the transcripts.

[2020-09-29 05:50] hiraksarkar commented on #14
I just validated an example file, all the reads seems to come from the 3' end of the transcripts. Let me know what is expected in your case, that you are not seeing.

[2020-09-29 07:23] yhg926 commented on #14
Sorry, I thought i did not post the right question.
The information i want to know is what is the mean distance and its variation between R2 reads and the 3' end of the reference transcripts.
For example, i noticed this read :
@AAACCTGAGGGTATCG:ENSMUST00000192913.1:897:24:24
it start from position 897 of ENSMUST00000192913.1, and ENSMUST00000192913.1 has length of 1506
so the interval between this

[2020-09-29 14:14] hiraksarkar commented on #14
Hi @yhg926,

The maximum fragment length is set to `1000` according to Illumina fragmentation protocol, so the read sequences are sampled in order to imitate the multi-mapping rate rather than to imitate any kind of positional distribution. However, if you can elaborate on what you exactly want, we can try to modify minnow in order to fit your need.

If you want to see positional distribution plea

[2020-10-04 03:37] hiraksarkar commented on #14
Hi @yhg926
Do you have any more questions/doubts, otherwise, I would close this issue.

[2020-10-04 04:05] yhg926 commented on #14
no further questions. thank you！

Sent from my iPhone

[2020-10-09 16:17] #14 closed, assigned to hiraksarkar

[2021-01-19 17:41] ColeWunderlich opened #16 "Is Alevin mode still supported? -- Simulating from Alevin or CellRanger run"
Hello,

After looking at some of the previous issues, it was unclear to me if Alevin mode is still supported (ie to use the results from Alevin instead of splatter to seed the simulation).  If it is still supported, I was wondering if there are current instructions for running using Alevin mode as the latest I could find were from a year ago.

In general, I was hoping to use the results of an Alev

[2021-01-28 04:41] ColeWunderlich opened #17 "Which fasta should be provided to minnow estimate?"
Hello,

I was wondering which type of fasta file should be provided to `minnow estimate`.

So far I have built a salmon index and ran alevin using what I would call a 'combined' fasta that has both transcript sequences and decoy sequences included.

I am wondering if `minnow estimate` needs the combined fasta, like alevin would use, or the fasta with just the transcript sequences (similar to what

[2021-02-09 19:20] ColeWunderlich opened #18 "No information on true UMI sequences?"
Hello,

Is there a way to get the true UMI sequence for each read?

So far after running minnow my read names look like this (example from R1 file):
[code]

The cell barcode is clearly in the read name, but there is no information about the true UMI sequence for the read.  I also cannot find this information anywhere else in the minnow output.

This information seems critical since the observed UM

[2021-02-09 21:08] hiraksarkar commented on #18
Hi @ColeWunderlich ,

Thanks for using minnow, and apologies for catching up late. I am going through the issues and trying to address them as best as I can,

I just went to the code to see if we write the original UMI, and we don't report that. We only keep https://github.com/COMBINE-lab/minnow/blob/minnow-velocity/src/MinnowSimulate.cpp#L843 the original Cell barcode name. But of course this can

[2021-02-10 07:50] ColeWunderlich commented on #18
Hey @hiraksarkar thanks for getting back to me.

It would be great to have the true UMI in the read name and I appreciate you being willing to add it as a feature.  I'm guessing this would be `tagSeq` in the code you linked to?   Also, I have been assuming that the `modifiedCellName` being output here has no PCR error in it's sequence, is that correct?

Yes, so far I have been using splatter mode.

[2021-02-10 17:21] hiraksarkar commented on #18
Hi @ColeWunderlich ,

I have mostly developed the splatter-based developed because that has become the favorable choice for most of the users. What you did by transposing and using the `--custom` flag should be right.

`modifiedCellName` should be the unchanged version of cell, I just added UMI in my latest commit to it. Let me know if that works.

Thanks

[2021-02-17 19:12] ColeWunderlich commented on #18
Hey @hiraksarkar,

Sorry for taking so long to get back to you.

That makes sense.  From reading some of the old issues I got the impression that `splatter-mode` was the only mode currently supported.

I applied the new fix and performed a test run, everything looks like it is working as expected.  Thanks for the update!

I also have a few questions about how to run minnow properly.  Would this th

[2021-03-03 01:38] hiraksarkar commented on #18
Hi @ColeWunderlich ,

Feel free to ask here or drop me an email at hiraksarkar.cs@gmail.com, we can chat more. If you want to discuss the modes or modifications, I won't close the issue. Please let me know.

Thanks

[2021-04-19 10:04] hoyu310 opened #19 "--ReadLength in minnow simulate"
Does this parameter work? I tried not specifying it as well as setting --ReadLength 151, but in both cases the resulting read lengths in the R2 fastq were 100 bp. Step 1.1 (minnow index) was run with -k 151. I want the reads to be this length because it seems more realistic for 10x datasets. Your help is much appreciated.

[2021-04-19 12:50] hiraksarkar commented on #19
Hi @hoyu310 ,

Thanks for pointing this out. At the time of development 10x used ~100 basepair reads, so we followed that. I need to change the code a bit to accommodate 150. I would definitely make the changes when I get a chance.

[2021-04-19 14:50] hiraksarkar commented on #19
Hi @hoyu310 ,

I have added the custom read length support https://github.com/COMBINE-lab/minnow/tree/custom-read-length in this commit 378eaad7072c308c25c8eab3015f6124d7f400d0 ,  pull this branch and let me know if it works, after that I will pull that to the main branch.

One suggestion, if you want a read length of `151` then please generate the index deBruijn graph with `153` size k-mers since

[2021-04-20 03:42] hiraksarkar commented on #19
@hoyu310  any update ?

[2021-04-20 04:57] hoyu310 commented on #19
Thanks a lot @hiraksarkar, I'll see if it works and get back to you

[2021-04-20 06:26] hoyu310 commented on #19
I started from the step of index deBruijn graph with k = 153, and then made a quick run with 20 cells (~54,000 genes); the log at the end says 'Successfully written simulated reads'. The read lengths in the R2 fastq are 151 bp. It looks like it worked! Thanks!

[2021-04-22 18:58] hiraksarkar commented on #19
Awesome as this is working I will merge the branch and close the issue, tagging @DongzeHE to the discussion as he might be interested in the pull request.

[2021-04-22 18:58] #19 closed, assigned to hiraksarkar

[2021-04-30 08:56] hoyu310 opened #21 "Controlling whether there's multi-mapping in the simulated reads"
Dear Minnow authors,
Is there a way to run minnow estimate or change the countProb.txt / geneLevelProb.txt files in a way so that the simulated reads won't have multi-mapping at all? I realize that simulating multi-mapping is a core part of the Minnow algorithm, and that there exists some level of multi-mapping in real data. The tools I'm testing may not deal with multi-mapping well enough, and I'

[2021-05-06 06:11] hoyu310 opened #22 "Simulated reads seem to not be compatible with Cell Ranger 6"
Hi,
I tried running Cell Ranger 6 (latest version) on the simulated reads, but within two minutes before the alignment even began the following error message returned (the same run using Cell Ranger 3 completed successfully):

[error] Pipestance failed. Error log at:
simulate_rl151/SC_RNA_COUNTER_CS/SC_MULTI_CORE/MULTI_GEM_WELL_PROCESSOR/COUNT_GEM_WELL_PROCESSOR/_BASIC_SC_RNA_COUNTER/_MATRIX_COMPU

[2021-11-15 19:41] baraaorabi opened #23 "Decoys in README instructions"
In the README file, [when constructing Salmon index](https://github.com/COMBINE-lab/minnow#step-01----build-salmon-index), shouldn't the transcripts file be concatenated by the genome contigs (as done [here](https://combine-lab.github.io/alevin-tutorial/2019/selective-alignment/))?

[2021-11-16 01:06] baraaorabi opened #24 "Less number of reads are produced that the truth matrix error"
What causes this error?

[code]

[2021-11-30 23:33] hiraksarkar commented on #24
Hi Baraa,

I should have placed this check before, but it seems the error is coming from duplicated gene names in the input file. Can you please recheck how you are generating these files, if there is a part of README in minnow that is doing this mess, I would be happy to correct that,

That said, I failed to reproduce this when we don't have duplicated genes, please let me know.
[code]

Regards,

[2021-12-01 15:22] hiraksarkar commented on #24
@baraaorabi I am closing the issue for now, please reopen in case the issue still persists.

[2021-12-01 15:22] #24 closed, assigned to nobody

[2021-12-01 15:23] hiraksarkar commented on #23
We don't follow the decoy principle of salmon indexing, @DongzeHE can illuminate more. But if you have a specific usecase in mind with respect to minnow I can try to include that.

[2021-12-01 15:25] hiraksarkar commented on #22
Sorry for getting back to you late, but I think we don't support cellranger 6, it has to do with CB length in the fastq format. That could be an issue.

[2021-12-01 15:25] hiraksarkar commented on #18
Closing this due to inactivity.

[2021-12-01 15:25] #18 closed, assigned to hiraksarkar

[2021-12-01 16:29] hoyu310 commented on #22
No problem, thanks for the reply.

[2021-12-01 18:56] #23 closed, assigned to nobody

[2022-10-04 17:53] joelmeili opened #25 "Can't seem to install minnow"
When I'm trying to install minnow (velo branch) I'm getting the following error message:

`[  2%] Building CXX object external/twopaco/graphdump/CMakeFiles/graphdump.dir/graphdump.cpp.o
cc1plus: error: too many filenames given; type ‘cc1plus --help’ for usage
cc1plus: fatal error: CMakeFiles/graphdump.dir/graphdump.cpp.d: No such file or directory
compilation terminated.
`
Can you help me?

[2022-11-04 12:00] Franzx7 opened #26 "Simulated 3'tagged single cell dataset"
Dear All,

Thanks first for this very useful tool.

I have a issue with the simulation of single cell dataset using 3'tag.
I observe that whatever parameter I used in the minnow simulate command (even the option --polyA), I simulate reads around a fixed distance from transcripts end of 400 bp.
How should I process to simulate reads to a closer distance from the end ? (10bp, 50bp or 100/150bp)
This